body{
  overflow-x: hidden;
}
h1{
  color: #fff;
}
.productes {
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;  
}

  
  .productes img {
    max-width: 100%;
    border-radius: 6px;
    margin: 4px 10px;
  }
  .productes h2{
    color: aliceblue;
    font-size: 18px;
  }

  .productes p{
    color: #787676cc;
  }
  .producteshover img:hover{
    transform: scale(1.1);
  }
  .productes img{
    transition: 0.4s;
  }
  .productes:hover{
    box-sizing: border-box;
    box-shadow: 2px 4px 20px 5px #024862;
    border-radius: 10px;
    cursor: pointer;
  }
 
  
  .row p{
    text-align: center;
    align-items: center;
    position: relative;
    color: #fff;
  }

 .productes{
  margin-left: 50px;
  align-items: center;
 }
 .row{
  margin-left: 20px;
 }

 @media screen and (max-width:620px)  {
  .productes{
    margin-left: 0px;
  }
 }