h1{
  color: #fff;
}
.search-result {
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;  
    position: relative;
}

  
  .search-result img {
    max-width: 100%;
    border-radius: 6px;
    margin: 4px 13px;
  }
  .search-result h2{
    color: aliceblue;
    font-size: 18px;
  }

  .search-result p{
    color: #787676cc;
  }
  .search-result:hover{
    box-sizing: border-box;
    box-shadow: 2px 4px 20px 5px #016387;
    border-radius: 20px;

  }


 .search-result{
  margin-left: 40px;
  align-items: center;
 }
 .row{
  margin-left: 20px;
 }
 .null{
  text-align: center;
  align-items: center;
  color: #00eeff!important;
  margin: 20px 40px;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 100px;
 }

 @media screen and (max-width: 620px) {
  .search-result{
    margin-left: 0px;
  }
 }