
.input-container {

    background: linear-gradient(135deg, rgba(0, 21, 105, 0.291), rgba(10, 13, 90, 0.383)), url('./images/Designerss.jpeg');
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    padding: 20px 30px;
}
.input-container a{
    margin-left: 20px;
    padding-left: 20px;
}
@media screen and (max-width: 620px) {
    .services-container h1{
        margin-top: 8%;
    
    }
    .services-container{
        width: 100%;
      
    }
    .input-container{
  
        z-index: 9999;
    }
    .results{
        margin-top: 40px;
        padding-top: 50px;
    }
    .issue-card{
        margin-left: 10px;
        width: 100%!important;
    }
    .issue-card h3{
        font-size: 20px;
    }
    .issue-card button{
        font-size: 10px;
    }
}

.input-container input::placeholder {
    font-size: 14px; 
    color: #000;
}
.services-container{
    background: #ffff; 
    color: #000;
    font-family: Arial, sans-serif;
    z-index: 9999;
    list-style: none; 
    display: flex;
    width: 100%;
    margin-top: -1%;
    gap: -30px;
}
.input-container{
    z-index: 999;
    
}

.input-container input {
    width: 400px; 
    padding: 10px 50px;
    margin: 3px 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: rgba(255, 254, 254, 0.529);
    outline: none;
    border-radius: 5px;
    color: #fff;
  
    backdrop-filter: blur(20px);
}
.input-container input:hover{
    box-shadow: 1px 2px 20px 7px #ccc;
    background: rgba(255, 254, 254, 0.681);
    color: #000;

}

.issue-card {
    width: 100%;  
    border: 1px solid #cccc;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 1px;
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 1px 3px 10px 1px rgba(219, 206, 206, 0.548);
  
}

.issue-card h3 {
    color: #000;
    box-sizing: border-box;
    margin: 0;  
    padding: 5px 10px;  
}

.issue-description.collapsed {
    display: none;
}

.issue-description.expanded {
    display: block;
}
.issue-card p{
    color: #000000!important;
    font-size: 13px;
    font-weight: 550;
    font-family: trebuchet 'Trebuchet MS', sans-serif!important;
    text-align: left;
   
}

.issue-card button {
    padding: 5px 3px;
    outline: none;
    border: 1px solid #e3dede;
    border-radius: 5px;
    background: #282c34;
    color: #fff;
    font-size: 12px;
}

.issue-card button:hover {
    background: #ccc;
    color: #000;
    border: 2px solid #000;
    cursor: pointer;
}

.issue-card p {
    color: #ccc;
}


@media screen and (max-width: 620px) {
    .issue-card {
        width: 100%;
    }
}



.input-container button{
    outline: none;
    border: 1px solid #ccc;
    background: #ffffff81;
    border-radius: 5px;
    color: #000;
    backdrop-filter: blur(10px);
    padding: 10px ;
    cursor: pointer;

}
.downloadsections{
    outline: none!important;
    width: 600px; 
    padding: 10px 50px;
    margin: 5px 4px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;

}
.downloadsections button{
    outline: none;
    border: non;
}
.download{
    outline: none;
    border: none;
    background: transparent;
}

/* Service.css */

  .feed-container {
    overflow: hidden;
    height: 100vh;
  
    width: 100%;
  }

  
  .feed {
    width: 50%;
    animation: scroll 20s linear infinite; /* Scroll animation */
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(100%); /* Start below the container */
    }
    100% {
      transform: translateY(-100%); /* End above the container */
    }
  }

  @media screen and (max-width: 620px) {
    .feed{
        display: none;
    }
  }
  .feed-download{
    outline: none!important;
    background: transparent;
    text-decoration: none;
    border: none!important;
    color: #1b1b1bac;
   
}
.feed-download:hover{
    cursor: pointer;
    color: #000000;
}
  
.boreds{
    list-style: none; 
    height: auto;
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;  
    width: 100%;  
    margin: 20px auto; 
    border: 1px solid #cccc;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.393); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    color: #000;
}
.boreds p{
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.replycontainers{
    outline: none;
    margin: 10px 20px;
    padding: 10px 20px;
 
  
  }
.replysubmits{
   margin: 10px 20px auto;
   outline: none;
   text-decoration: none;
   border: none;
}
.replysubmits:hover{
    background: #fefdfd27!important;
    font-size: 13px;
    font-weight: 700;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 1px 3px 10px 1px rgba(219, 206, 206, 0.548);
    cursor: pointer;
    }

  .boreds .downloadsections{
   border: none;
   background-color: transparent;
  }