.welcome {
  text-align: center; 
}
.welcome input{
  font-weight: 500;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.614);
  border: 1px solid #cccc;
  padding: 4px 5px;
  margin: 0px 4px;
  outline: none;
}
.welcome ::placeholder{
  color: #000;
}
.welcome p{
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
}
.welcome ul {
  list-style: none;
}
.welcome {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.292), rgba(0, 0, 0, 0.269)), url('./images/bg.jpg'); 
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  color: #000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  z-index: 9999;
}
.bored {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;  
  width: 50%;  
  margin: 20px auto; 
  border: 1px solid transparent;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.393); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  color: #000;
}
.welcome textarea {
  outline: none;
}
.replycontainer button {
  outline: none;
  margin: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #111522;
  padding: 10px 20px;
}
.replycontainer{
  color: #fff;
}


.welcome .icon {
  font-size: 15px;
  outline: none;
  color: #2a0000;
}
.buttonicon {
  background-color: transparent;  
  border: 1px solid #ccc;   
  border-radius: 5px;  
  padding: 5px 5px;
  margin: 5px 10px; 
  color: #000;
  font-size: 10px;
  font-weight: 600;
}
.buttonicon:hover{
  background: #ffffff64;
}

.icon:hover {
  color: #ffffff;  
  font-size: 15px; 
}
.welcome input {
  outline: none;
}
.uploadbutton {
  outline: none!important;
  margin: auto 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: 500;
  background: #ffffff91;
}
.uploadbutton:hover {
  background: #111522;
  color: #ffffff;
}
.reply-container textarea {
  outline: NONE;
}
.replysubmit{
background: #fefdfd67!important;

}

.replysubmit:hover{
  background: #fefdfd27!important;
  font-size: 13px;
  font-weight: 700;
  }

.bored p {
  font-size: 23px;
  color: #ffffff;
  font-weight: 700;
}
.welcome p {
  font-weight: 700;
  font-size: 20px;
}
.downloadsection{
  color: #2a0000;
  text-decoration: none;
  display: inline-block;
  max-width: 100%; 
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 900;
}
.filechoos{
  color: #2a0000;
  font-size: 15px;
  font-weight: 800;
  outline: none;
  border: none!important;
}
.ico{
  color: #ccc;
  font-size: 16px;
}
.logout{
  display: flex;
  float: right;
  font-size: 14px;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.614);
  border: 1px solid #ccc;
  margin: 2px 4px;
  border-radius: 5px;
  padding: 6px 7px;
}
.logout:hover{
 cursor: pointer;
 background: rgba(255, 255, 255, 0.299);
}